<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="wiConnectionString" connectionString="workstation id=wiDatabase.mssql.somee.com;packet size=4096;user id=hakanyildiz_SQLLogin_1;pwd=ps4tycsrnl;data source=wiDatabase.mssql.somee.com;persist security info=False;initial catalog=wiDatabase"
      providerName="System.Data.SqlClient" />
    <add name="wiDatabaseConnectionString" connectionString="Data Source=wiDatabase.mssql.somee.com;Initial Catalog=wiDatabase;Persist Security Info=False;User ID=hakanyildiz_SQLLogin_1;Password=ps4tycsrnl;Packet Size=4096;Workstation ID=wiDatabase.mssql.somee.com"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
