<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    
    <!-- 
        <add  name="wiConnectionString" connectionString="Data Source=HAKAN;Initial Catalog=RomieDB;Integrated Security=True" providerName="System.Data.SqlClient"/>

    -->
    <add  name="wiConnectionString" connectionString="workstation id=wiDatabase.mssql.somee.com;packet size=4096;user id=hakanyildiz_SQLLogin_1;pwd=ps4tycsrnl;data source=wiDatabase.mssql.somee.com;persist security info=False;initial catalog=wiDatabase" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
